doctype html
html(lang='en')
   head
      title Dashboard
      
   body
      div#app
         alf-list
            template(scope="props" slot="before-view")
               alf-list-toolbar(:list="props.list")
            template(scope="props" slot="view")
               alf-list-view(:list="props.list")
      script(src="/app.bundle.js")