doctype html
html(lang='en')
   head
      title Dashboard
      
   body
      div#app
         alf-list
            template(scope="props" slot="view")
               alf-list-view(:items="props.items")
      script(src="/app.bundle.js")