doctype html
html(lang='en')
   head
      title Login
   body
      form(action='/auth/login' method='POST')
         input(name='username')
         input(name='password' type='password')
         button(type='submit') Login